# Challenge Set 1

Topic:  Explore MTA turnstile data

Date:   01/25/2016

Name:   Daniel Yawitz

In [11]:
import os, csv, re
import datetime
import dateutil.parser
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

f = 'turnstile_160109.txt'
#f = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_160109.txt"

In [1]:
'''DONT RUN THESE SCRIPTS

Only Dan should run these to get his dumb computer to work'''

# import sys
# print sys.executable

# paths = ['', '/Users/dyawitz/anaconda/bin', '/Users/dyawitz/anaconda/lib/python27.zip', '/Users/dyawitz/anaconda/lib/python2.7/plat-darwin', '/Users/dyawitz/anaconda/lib/python2.7/plat-mac', '/Users/dyawitz/anaconda/lib/python2.7/plat-mac/lib-scriptpackages', '/Users/dyawitz/anaconda/lib/python2.7/lib-tk', '/Users/dyawitz/anaconda/lib/python2.7/lib-old', '/Users/dyawitz/anaconda/lib/python2.7/lib-dynload', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/Sphinx-1.3.1-py2.7.egg', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/setuptools-18.5-py2.7.egg', '/Users/dyawitz/anaconda/lib/python2.7/site-packages', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/aeosa', '/Users/dyawitz/anaconda/lib/python2.7/site-packages/IPython/extensions', '/Users/dyawitz/.ipython']

# for i in paths:
#    sys.path.append(i)

In [12]:
#Read in the data:
def read_data(file):
    data = open(file)
    d = []
    csv_data = csv.reader(data)
    for row in csv_data:
        #strip extra spaces from 'EXITS'
        row[10] = row[10].rstrip()
        d.append(row)
    return d
    data.close()

d = read_data(f)
colnames = d[0]
df = pd.DataFrame(d, columns=colnames)
#pop out the headers
df = df.drop([0])

#d.pop(0)
#take a small sample of the data
#d = d[:1000]

'''format of 'd' is a list of lists, for all 11 variables
df is a pandas dataframe'''

"format of 'd' is a list of lists, for all 11 variables\ndf is a pandas dataframe"

In [ ]:
df.head(3)

# Challenge 1
Make a dictionary so that each turnstile is a key and its 4 hour measurements are values

In [ ]:
def turn_dict(d):
    '''turns the raw data into a dict of the form {turnstile:[values]}
    
    One example value:
    {('A006', 'R079', '00-03-02', '5 AV/59 ST'):
    [['NQR',
   'BMT',
   '01/02/2016',
   '01:00:00',
   'REGULAR',
   '0013206367',
   '0013861091'],
   
  ['NQR',
   'BMT',
   '01/02/2016',
   '05:00:00',
   'REGULAR',
   '0013206371',
   '0013861092']}
    
    '''
    #create empty dict
    mta_dict = {}
    #pop out the headers
#     if d[0] == ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME',
#                        'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES',
#                        'EXITS']:
#         d.pop(0)
    
    
    for row in d:
        
        #key is the first 4 columns that ID the turnstile
        key = tuple(row[0:4])
        #values are the rest of the data
        value = row[4:11]
        
        #This line does the same thing as the if/else statement below
        mta_dict.setdefault(key, []).append(value) 
        
        #if key in mta_dict:
        #    mta_dict[key].append(value)
        #else:
        #    mta_dict[key] = [value]
            
       
        
    return mta_dict

turnstile_dict = turn_dict(d)

turnstile_dict is a solution to challenge 1

# Challenge 2
Create a new dictionary. The key is the same, but the values are a list of datetime objects and entry values

In [13]:

def get_datetime_cumulative(d):
    ''' takes in the raw data and exports a dict of the form {turnstile_key: [[datetime_object, counts]]}
     {('A006', 'R079', '00-03-02', '5 AV/59 ST'):
        [[datetime.datetime(2016, 1, 2, 1, 0), '0013206367'],
         [datetime.datetime(2016, 1, 2, 5, 0), '0013206371']]}
    
    '''
    datetime_cumulative = {}
    
    #pop out the headers
#     if d[0] == ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME',
#                        'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES',
#                        'EXITS']:
#         d.pop(0)
    
    for row in d:
        #get datetime object. Row 6 and 7 of 'd' are '2013-12-02' and '15:00:00'
        dt_str = row[6] + ' ' + row[7]
        dt = dateutil.parser.parse(dt_str)
        #row 9 is turnstile entries
        entries = row[9]

        key = tuple(row[0:5])
        values = [dt, entries]
        
        #This line does the same thing as the if/else statement below
        datetime_cumulative.setdefault(key, []).append(values)

        #if key in datetime_cumulative:
        #    datetime_cumulative[key].append(values)
        #else:
        #    datetime_cumulative[key] = [values]
        
        
    return datetime_cumulative

datetime_cumulative = get_datetime_cumulative(d)

In [14]:
datetime_cumulative.items()[0]

(('N089', 'R139', '00-00-01', 'CANAL ST', 'ACE'),
 [[datetime.datetime(2016, 1, 2, 3, 0), '0002606533'],
  [datetime.datetime(2016, 1, 2, 7, 0), '0002606539'],
  [datetime.datetime(2016, 1, 2, 11, 0), '0002606554'],
  [datetime.datetime(2016, 1, 2, 15, 0), '0002606614'],
  [datetime.datetime(2016, 1, 2, 19, 0), '0002606740'],
  [datetime.datetime(2016, 1, 2, 23, 0), '0002606795'],
  [datetime.datetime(2016, 1, 3, 3, 0), '0002606817'],
  [datetime.datetime(2016, 1, 3, 7, 0), '0002606821'],
  [datetime.datetime(2016, 1, 3, 11, 0), '0002606834'],
  [datetime.datetime(2016, 1, 3, 15, 0), '0002606874'],
  [datetime.datetime(2016, 1, 3, 19, 0), '0002606942'],
  [datetime.datetime(2016, 1, 3, 23, 0), '0002606988'],
  [datetime.datetime(2016, 1, 4, 3, 0), '0002606996'],
  [datetime.datetime(2016, 1, 4, 7, 0), '0002606997'],
  [datetime.datetime(2016, 1, 4, 11, 0), '0002607028'],
  [datetime.datetime(2016, 1, 4, 15, 0), '0002607079'],
  [datetime.datetime(2016, 1, 4, 19, 0), '0002607263'],
  [datetime.datetime(2016, 1, 4, 23, 0), '0002607340'],
  [datetime.datetime(2016, 1, 5, 3, 0), '0002607342'],
  [datetime.datetime(2016, 1, 5, 7, 0), '0002607347'],
  [datetime.datetime(2016, 1, 5, 11, 0), '0002607386'],
  [datetime.datetime(2016, 1, 5, 15, 0), '0002607443'],
  [datetime.datetime(2016, 1, 5, 19, 0), '0002607609'],
  [datetime.datetime(2016, 1, 5, 23, 0), '0002607683'],
  [datetime.datetime(2016, 1, 6, 3, 0), '0002607692'],
  [datetime.datetime(2016, 1, 6, 7, 0), '0002607697'],
  [datetime.datetime(2016, 1, 6, 11, 0), '0002607726'],
  [datetime.datetime(2016, 1, 6, 15, 0), '0002607779'],
  [datetime.datetime(2016, 1, 6, 19, 0), '0002607951'],
  [datetime.datetime(2016, 1, 6, 23, 0), '0002608050'],
  [datetime.datetime(2016, 1, 7, 3, 0), '0002608054'],
  [datetime.datetime(2016, 1, 7, 7, 0), '0002608060'],
  [datetime.datetime(2016, 1, 7, 11, 0), '0002608085'],
  [datetime.datetime(2016, 1, 7, 15, 0), '0002608162'],
  [datetime.datetime(2016, 1, 7, 19, 0), '0002608327'],
  [datetime.datetime(2016, 1, 7, 23, 0), '0002608421'],
  [datetime.datetime(2016, 1, 8, 3, 0), '0002608435'],
  [datetime.datetime(2016, 1, 8, 7, 0), '0002608440'],
  [datetime.datetime(2016, 1, 8, 7, 55, 36), '0002608445'],
  [datetime.datetime(2016, 1, 8, 8, 1, 50), '0002608447'],
  [datetime.datetime(2016, 1, 8, 11, 0), '0002608472'],
  [datetime.datetime(2016, 1, 8, 15, 0), '0002608534'],
  [datetime.datetime(2016, 1, 8, 19, 0), '0002608699'],
  [datetime.datetime(2016, 1, 8, 23, 0), '0002608782']])

datetime_cumulative is a solution to challenge 2

# Challenge 3
Use the same keys, but the values should be the total number of passengers for each day per turnstile

In [27]:
def count_day(my_list):
    #Takes in a list of lists (the values for one turnstile)
    #datetime_cumulative[key]
    #Output is a list of lists that gets the counts for one turnstile's day
    
    ''' [[datetime.datetime(2016, 1, 2, 1, 0), '0013206367'],
         [datetime.datetime(2016, 1, 2, 5, 0), '0013206371']]
         
         -->
         
         [[dateime.datetime(2016, 1,2), 2]]
        
         
         '''
    
    ## Get unique values of dates
    dates = [row[0].date() for row in my_list]
    #make it a set to eliminate duplicates
    dates = set(dates)
    dates = sorted(list(dates))

    result = list()

    for date in dates:
        
        #get tomorrows date. Add one 'day' to today
        tomorrows_date = date + datetime.timedelta(days=1)
        
        #for every entry with today's date, add the count to a list
        todays_entries = [int(x[1]) for x in my_list if x[0].date() == date]
        
        #todays_entries = [int(x[2]) for x in rows if x[0].date() == date]
        #
        if tomorrows_date in dates:
            #if tomorrow's date is in dates, compare the start of tomorrow to the end of today
            tomorrows_entries = [int(x[1]) for x in my_list if x[0].date() == tomorrows_date]
            delta = min(tomorrows_entries)- min(todays_entries)
            
        else:
            #otherwise, use the change in today
            delta = max(todays_entries) - min(todays_entries)
        
        #Before adding it to the dict, make sure it's between 0-10,000
        #0 is impossible and +10,000 is outside the 99th %ile
        if delta < 0:
            result.append((date, 0))
        elif delta >= 10000:
            result.append((date,10000))
        else:
            result.append((date, delta))
    return result

In [28]:
turnstile_counts = {key:count_day(datetime_cumulative[key]) for key in datetime_cumulative}
''' one {key:value} pair in turnstile_counts looks like: 

{('A002', 'R051', '02-03-06', '59 ST'),
 [(datetime.date(2016, 1, 4), 2278),
  (datetime.date(2016, 1, 5), 2326),
  (datetime.date(2016, 1, 8), 2325),
  (datetime.date(2016, 1, 2), 1159),
  (datetime.date(2016, 1, 3), 915),
  (datetime.date(2016, 1, 6), 2474),
  (datetime.date(2016, 1, 7), 2553)]}

'''
print ' '

In [29]:
turnstile_counts[('N049','R084','01-00-00','59 ST COLUMBUS','ABCD1')]

[(datetime.date(2016, 1, 2), 617),
 (datetime.date(2016, 1, 3), 469),
 (datetime.date(2016, 1, 4), 733),
 (datetime.date(2016, 1, 5), 621),
 (datetime.date(2016, 1, 6), 666),
 (datetime.date(2016, 1, 7), 680),
 (datetime.date(2016, 1, 8), 616)]

# Challenge 4

Plot the daily time series for a turnstile.

In [ ]:
def plot_turnstile(dictionary, turnstile_key):
    turnstile_data = sorted(dictionary[turnstile_key])

    dates = [x[0] for x in turnstile_data]
    counts = [x[1] for x in turnstile_data]

    plt.figure(figsize=(10,3))
    plt.plot(dates,counts)

In [ ]:
key = ('A002', 'R051', '02-06-00', '59 ST', 'NQR456')
plot_turnstile(turnstile_counts, key)

# Challenge 5 & 6
This is just the code and functions. Scroll down to see the solutions.

In [30]:
def tcounts_to_dailydata(tcounts):
    ''' dict --> list of lists

        restructures turnstile_counts into a list of lists that looks like the original data:

        ['A002', 'R051', '02-03-06', '59 ST', datetime.date(2016, 1, 4), 2278]
    '''
    dailydata = []

    #get a list of the keys, so you can iterate over something 
    turnstiles = tcounts.keys()

    for t in turnstiles:
        for datecounts in tcounts[t]:
            dailydata += [[t[0], t[1], t[2], t[3], t[4], datecounts[0], datecounts[1]]]

    return dailydata

dailydata = tcounts_to_dailydata(turnstile_counts)
for i in range(3): print dailydata[i]

['N089', 'R139', '00-00-01', 'CANAL ST', 'ACE', datetime.date(2016, 1, 2), 284]
['N089', 'R139', '00-00-01', 'CANAL ST', 'ACE', datetime.date(2016, 1, 3), 179]
['N089', 'R139', '00-00-01', 'CANAL ST', 'ACE', datetime.date(2016, 1, 4), 346]

In [31]:
import scipy.stats as stats
import pylab as pl

h = sorted([int(dailydata[i][-1]) for i in range(len(dailydata)-1)])

print len(h)
print h[0:10]
print max(h), np.mean(h), np.std(h)

31951
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
10000 1066.0632844 1036.64083037

In [ ]:
def dailydata_to_ac_stationdict(dailydata):
    ''' dict --> dict

    restructures turnstile_counts so that the key is station info (including AC), and the value includes the turnstile ID:

    {('A007', 'R079', '5 AV/59 ST', 'NQ'): [['01-05-01', datetime.date(2016, 1, 4), 0],
      ['01-05-01', datetime.date(2016, 1, 5), 0],
      ['01-05-01', datetime.date(2016, 1, 8), 0],
      ['01-05-01', datetime.date(2016, 1, 2), 0],
      ['01-05-01', datetime.date(2016, 1, 3), 0],
      ['01-05-01', datetime.date(2016, 1, 6), 0],
      ['01-06-01', datetime.date(2016, 1, 4), 1413],
      ['01-06-01', datetime.date(2016, 1, 5), 1204],
      ['01-06-01', datetime.date(2016, 1, 2), 1135],
      ['01-06-01', datetime.date(2016, 1, 3), 847],
      ['01-06-01', datetime.date(2016, 1, 6), 1448],
      ['01-06-01', datetime.date(2016, 1, 7), 172]] }

    '''
    stationdict = {}
    
    for i in range(len(dailydata)-1):
        ca = dailydata[i][0]
        unit = dailydata[i][1]
        scp = dailydata[i][2]
        station = dailydata[i][3]
        line = dailydata[i][4]
        day = dailydata[i][5]
        count = dailydata[i][6]

        key = (ca, unit, station, line)
        value = [scp, day, count]

        stationdict.setdefault(key, []).append(value) 

    # stationdict = {tuple(list(turnstile[0:2])+[turnstile[3]]): 
    #                                  [[turnstile[2],
    #                                     datecounts[i][0],
    #                                     datecounts[i][1]] 
    #                                 for i in range(len(datecounts)-1)]
    #                 for turnstile, datecounts in tcounts.iteritems()}

    return stationdict

ac_stationdict = dailydata_to_ac_stationdict(dailydata)

In [32]:
def dailydata_to_stationdict(dailydata):
    ''' dict --> dict

    restructures turnstile_counts so that the key is station info, and the value includes the turnstile ID:

    {('5 AV/59 ST', 'NQ'): [['01-05-01', datetime.date(2016, 1, 4), 0],
      ['01-05-01', datetime.date(2016, 1, 5), 0],
      ['01-05-01', datetime.date(2016, 1, 8), 0],
      ['01-05-01', datetime.date(2016, 1, 2), 0],
      ['01-05-01', datetime.date(2016, 1, 3), 0],
      ['01-05-01', datetime.date(2016, 1, 6), 0],
      ['01-06-01', datetime.date(2016, 1, 4), 1413],
      ['01-06-01', datetime.date(2016, 1, 5), 1204],
      ['01-06-01', datetime.date(2016, 1, 2), 1135],
      ['01-06-01', datetime.date(2016, 1, 3), 847],
      ['01-06-01', datetime.date(2016, 1, 6), 1448],
      ['01-06-01', datetime.date(2016, 1, 7), 172]] }

    '''
    stationdict = {}
    
    for i in range(len(dailydata)-1):
        ca = dailydata[i][0]
        unit = dailydata[i][1]
        scp = dailydata[i][2]
        station = dailydata[i][3]
        line = dailydata[i][4]
        day = dailydata[i][5]
        count = dailydata[i][6]

        key = (station, line)
        value = [scp, day, count]

        stationdict.setdefault(key, []).append(value) 

    # stationdict = {tuple(list(turnstile[0:2])+[turnstile[3]]): 
    #                                  [[turnstile[2],
    #                                     datecounts[i][0],
    #                                     datecounts[i][1]] 
    #                                 for i in range(len(datecounts)-1)]
    #                 for turnstile, datecounts in tcounts.iteritems()}

    return stationdict

stationdict = dailydata_to_stationdict(dailydata)

stationdict[('59 ST COLUMBUS', '1ABCD')]

[['00-05-01', datetime.date(2016, 1, 2), 656],
 ['00-05-01', datetime.date(2016, 1, 3), 399],
 ['00-05-01', datetime.date(2016, 1, 4), 1038],
 ['00-05-01', datetime.date(2016, 1, 5), 1186],
 ['00-05-01', datetime.date(2016, 1, 6), 1284],
 ['00-05-01', datetime.date(2016, 1, 7), 1248],
 ['00-05-01', datetime.date(2016, 1, 8), 1354],
 ['00-05-03', datetime.date(2016, 1, 2), 0],
 ['00-05-03', datetime.date(2016, 1, 3), 0],
 ['00-05-03', datetime.date(2016, 1, 4), 0],
 ['00-05-03', datetime.date(2016, 1, 5), 0],
 ['00-05-03', datetime.date(2016, 1, 6), 0],
 ['00-05-03', datetime.date(2016, 1, 7), 0],
 ['00-05-03', datetime.date(2016, 1, 8), 0],
 ['00-05-02', datetime.date(2016, 1, 2), 175],
 ['00-05-02', datetime.date(2016, 1, 3), 111],
 ['00-05-02', datetime.date(2016, 1, 4), 415],
 ['00-05-02', datetime.date(2016, 1, 5), 413],
 ['00-05-02', datetime.date(2016, 1, 6), 405],
 ['00-05-02', datetime.date(2016, 1, 7), 387],
 ['00-05-02', datetime.date(2016, 1, 8), 485],
 ['00-02-00', datetime.date(2016, 1, 2), 339],
 ['00-02-00', datetime.date(2016, 1, 3), 312],
 ['00-02-00', datetime.date(2016, 1, 4), 511],
 ['00-02-00', datetime.date(2016, 1, 5), 550],
 ['00-02-00', datetime.date(2016, 1, 6), 609],
 ['00-02-00', datetime.date(2016, 1, 7), 630],
 ['00-02-00', datetime.date(2016, 1, 8), 586],
 ['00-00-01', datetime.date(2016, 1, 2), 880],
 ['00-00-01', datetime.date(2016, 1, 3), 671],
 ['00-00-01', datetime.date(2016, 1, 4), 1328],
 ['00-00-01', datetime.date(2016, 1, 5), 1420],
 ['00-00-01', datetime.date(2016, 1, 6), 1375],
 ['00-00-01', datetime.date(2016, 1, 7), 1439],
 ['00-00-01', datetime.date(2016, 1, 8), 1310],
 ['00-00-02', datetime.date(2016, 1, 2), 754],
 ['00-00-02', datetime.date(2016, 1, 3), 610],
 ['00-00-02', datetime.date(2016, 1, 4), 1179],
 ['00-00-02', datetime.date(2016, 1, 5), 1214],
 ['00-00-02', datetime.date(2016, 1, 6), 1165],
 ['00-00-02', datetime.date(2016, 1, 7), 1313],
 ['00-00-02', datetime.date(2016, 1, 8), 1175],
 ['00-05-04', datetime.date(2016, 1, 2), 0],
 ['00-05-04', datetime.date(2016, 1, 3), 0],
 ['00-05-04', datetime.date(2016, 1, 4), 0],
 ['00-05-04', datetime.date(2016, 1, 5), 0],
 ['00-05-04', datetime.date(2016, 1, 6), 0],
 ['00-05-04', datetime.date(2016, 1, 7), 0],
 ['00-05-04', datetime.date(2016, 1, 8), 0],
 ['00-05-00', datetime.date(2016, 1, 2), 902],
 ['00-05-00', datetime.date(2016, 1, 3), 644],
 ['00-05-00', datetime.date(2016, 1, 4), 1420],
 ['00-05-00', datetime.date(2016, 1, 5), 1599],
 ['00-05-00', datetime.date(2016, 1, 6), 1647],
 ['00-05-00', datetime.date(2016, 1, 7), 1654],
 ['00-05-00', datetime.date(2016, 1, 8), 1359],
 ['00-06-01', datetime.date(2016, 1, 2), 1285],
 ['00-06-01', datetime.date(2016, 1, 3), 935],
 ['00-06-01', datetime.date(2016, 1, 4), 1519],
 ['00-06-01', datetime.date(2016, 1, 5), 1715],
 ['00-06-01', datetime.date(2016, 1, 6), 1549],
 ['00-06-01', datetime.date(2016, 1, 7), 1518],
 ['00-06-01', datetime.date(2016, 1, 8), 1383],
 ['00-06-02', datetime.date(2016, 1, 2), 1269],
 ['00-06-02', datetime.date(2016, 1, 3), 1053],
 ['00-06-02', datetime.date(2016, 1, 4), 1626],
 ['00-06-02', datetime.date(2016, 1, 5), 1899],
 ['00-06-02', datetime.date(2016, 1, 6), 2098],
 ['00-06-02', datetime.date(2016, 1, 7), 2000],
 ['00-06-02', datetime.date(2016, 1, 8), 1837],
 ['00-06-00', datetime.date(2016, 1, 2), 0],
 ['00-06-00', datetime.date(2016, 1, 3), 0],
 ['00-06-00', datetime.date(2016, 1, 4), 0],
 ['00-06-00', datetime.date(2016, 1, 5), 758],
 ['00-06-00', datetime.date(2016, 1, 6), 892],
 ['00-06-00', datetime.date(2016, 1, 7), 822],
 ['00-06-00', datetime.date(2016, 1, 8), 759],
 ['00-00-00', datetime.date(2016, 1, 2), 373],
 ['00-00-00', datetime.date(2016, 1, 3), 400],
 ['00-00-00', datetime.date(2016, 1, 4), 557],
 ['00-00-00', datetime.date(2016, 1, 5), 506],
 ['00-00-00', datetime.date(2016, 1, 6), 537],
 ['00-00-00', datetime.date(2016, 1, 7), 546],
 ['00-00-00', datetime.date(2016, 1, 8), 546],
 ['00-02-01', datetime.date(2016, 1, 2), 471],
 ['00-02-01', datetime.date(2016, 1, 3), 347],
 ['00-02-01', datetime.date(2016, 1, 4), 740],
 ['00-02-01', datetime.date(2016, 1, 5), 823],
 ['00-02-01', datetime.date(2016, 1, 6), 824],
 ['00-02-01', datetime.date(2016, 1, 7), 829],
 ['00-02-01', datetime.date(2016, 1, 8), 812]]

In [33]:
def get_stationcounts(stationdict):
    ''' Takes the stationdict and adds up the daily totals for all those turnstiles.
    
    {('A047', 'R087', 'CITY HALL'):
    [[datetime.date(2016, 1, 4), 1020],
    [datetime.date(2016, 1, 5), 815],
    [datetime.date(2016, 1, 6), 1030]]}
    
    '''
    stations = stationdict.keys()
    
    stationcounts = {}
    
    for key in stations:
        rows = stationdict[key]
        
        dates = [row[1] for row in rows]
        dates = set(dates)
        dates = sorted(list(dates))
        
        day_sums = list()

        for date in dates:
            todays_entries = [int(x[2]) for x in rows if x[1] == date]
            daily_sum = sum(todays_entries)
            day_sums.append([date, daily_sum])
        stationcounts[key] = day_sums
        #stationcounts.setdefault(key, []).append(day_sums)
        
#         if key in stationcounts.keys():
#             stationcounts[key].append(day_sums)
#         else:
#             stationcounts[key] = [day_sums]
    
    return stationcounts

stationcounts = get_stationcounts(stationdict)
stationcounts.items()[0]

(('OCEAN PKWY', 'Q'),
 [[datetime.date(2016, 1, 2), 1661],
  [datetime.date(2016, 1, 3), 1488],
  [datetime.date(2016, 1, 4), 3124],
  [datetime.date(2016, 1, 5), 3131],
  [datetime.date(2016, 1, 6), 3336],
  [datetime.date(2016, 1, 7), 3346],
  [datetime.date(2016, 1, 8), 3172]])

In [ ]:
stations = stationcounts.keys()

# Challenge 5
-combine the numbers together -- for each ControlArea/UNIT/STATION combo, for each day, add the counts from each turnstile belonging to that combo
-make this a new dict

In [ ]:
challenge5 = get_stationcounts(ac_stationdict)

print challenge5.items()[0]

# Challenge 6
Create a dictionary for stations and their daily entries

In [ ]:
stationcounts = get_stationcounts(stationdict)
print stationcounts.items()[1:2]

# No Challenge 7 yet. Keep scrolling.

In [34]:
def stationcounts_to_lists(stationcounts):
    '''transforms station counts for other manipulation and export to csv'''
    result = []
    
    stations = stationcounts.keys()
    
    for s in stations:
        for row in stationcounts[s]:
            result += [[s[0], s[1], row[0], row[1]]]
    
    return result

dailystationdata = stationcounts_to_lists(stationcounts)

dailystationdata[0:5]

[['OCEAN PKWY', 'Q', datetime.date(2016, 1, 2), 1661],
 ['OCEAN PKWY', 'Q', datetime.date(2016, 1, 3), 1488],
 ['OCEAN PKWY', 'Q', datetime.date(2016, 1, 4), 3124],
 ['OCEAN PKWY', 'Q', datetime.date(2016, 1, 5), 3131],
 ['OCEAN PKWY', 'Q', datetime.date(2016, 1, 6), 3336]]

In [35]:
dailystationdata_df = pd.DataFrame(dailystationdata, columns=['STATION','LINENAME','DATE','ENTRIES'])

In [36]:
dailystationdata_df.to_csv('dailystationdata3.csv')

In [44]:
dsd = dailystationdata_df

In [45]:
dsd[(dsd['STATION'] == '59 ST COLUMBUS')]

             STATION LINENAME        DATE  ENTRIES
684   59 ST COLUMBUS    1ABCD  2016-01-02     7104
685   59 ST COLUMBUS    1ABCD  2016-01-03     5482
686   59 ST COLUMBUS    1ABCD  2016-01-04    10333
687   59 ST COLUMBUS    1ABCD  2016-01-05    12083
688   59 ST COLUMBUS    1ABCD  2016-01-06    12385
689   59 ST COLUMBUS    1ABCD  2016-01-07    12386
690   59 ST COLUMBUS    1ABCD  2016-01-08    11606
1258  59 ST COLUMBUS    ABCD1  2016-01-02    30386
1259  59 ST COLUMBUS    ABCD1  2016-01-03    24055
1260  59 ST COLUMBUS    ABCD1  2016-01-04    48459
1261  59 ST COLUMBUS    ABCD1  2016-01-05    50512
1262  59 ST COLUMBUS    ABCD1  2016-01-06    52039
1263  59 ST COLUMBUS    ABCD1  2016-01-07    52379
1264  59 ST COLUMBUS    ABCD1  2016-01-08    48691

In [62]:
def get_weekly_stationcounts(stationcounts):
    '''takes data for stations over a period of time and adds them
    
    {('OCEAN PKWY', 'Q'):
    [[datetime.date(2016, 1, 2), 1661],
    [datetime.date(2016, 1, 3), 1488]}
     
    -->
    {('OCEAN PKWY', 'Q'):
    [datetime.date(2016, 1, 2), 1661]}
    the date in the value is the date for period starting
    
    '''
    total_list = []
    
    stations = stationcounts.keys()
    
    for s in stations:
        total = 0
        dates = [stationcounts[s][i][0] for i in range(len(stationcounts[s])-1)]
        start_date = min(dates)
        
        for row in stationcounts[s]:
            total += int(row[1])
        
        new_entry = [s[0], s[1], start_date, total]
        total_list.append(new_entry)
    
    return total_list

In [68]:
weekly_totals = get_weekly_stationcounts(stationcounts)
columns2=['STATION','LINENAME','DATE','WEEKLY ENTRIES']
weekly_totals_df = pd.DataFrame(weekly_totals, columns=columns2)

weekly_totals_df

             STATION     LINENAME        DATE  WEEKLY ENTRIES
0         OCEAN PKWY            Q  2016-01-02           19258
1       BAY RIDGE AV            R  2016-01-02           86496
2     COURT SQ-23 ST          EMG  2016-01-02           49028
3              53 ST            R  2016-01-02           44445
4             116 ST           BC  2016-01-02           43355
5     CATHEDRAL PKWY            1  2016-01-02           77607
6           BAY PKWY            D  2016-01-02           50365
7               7 AV           BQ  2016-01-02           56981
8        CHAMBERS ST        ACE23  2016-01-02          210497
9      GREENPOINT AV            G  2016-01-02           56077
10    VERNON-JACKSON            7  2016-01-02           86960
11          BUHRE AV            6  2016-01-02           20064
12             55 ST            D  2016-01-02           12134
13         SPRING ST            6  2016-01-02           68262
14            111 ST            J  2016-01-02           15483
15   42 ST-PORT AUTH  ACENQRS1237  2016-01-02          488941
16          AVENUE U           BQ  2016-01-02           41123
17   161/YANKEE STAD          4BD  2016-01-02           52604
18        BEVERLY RD           25  2016-01-02           26839
19             86 ST            R  2016-01-02           72555
20             36 AV           NQ  2016-01-02           42508
21   34 ST-HERALD SQ      BDFMNQR  2016-01-02          719017
22       BEACH 67 ST            A  2016-01-02           13980
23   MORISN AV/SNDVW            6  2016-01-02           39761
24            125 ST            1  2016-01-02           45342
25    15 ST-PROSPECT           FG  2016-01-02           38951
26         RECTOR ST            1  2016-01-02           58832
27    JAMAICA 179 ST            F  2016-01-02          133469
28       LONGWOOD AV            6  2016-01-02           20807
29        MT EDEN AV            4  2016-01-02           34158
..               ...          ...         ...             ...
440      WHITLOCK AV            6  2016-01-02           10464
441            18 AV            N  2016-01-02           27743
442        KINGS HWY            N  2016-01-02           33461
443     BOROUGH HALL        R2345  2016-01-02           13276
444       HOUSTON ST            1  2016-01-02           79121
445            45 ST            R  2016-01-02           42810
446         GRAND ST            L  2016-01-02           43478
447         BROADWAY            G  2016-01-02           25999
448           BOWERY           JZ  2016-01-02           22477
449           116 ST           23  2016-01-02           76926
450      PELHAM PKWY            5  2016-01-02           18812
451          WALL ST           45  2016-01-02          123506
452   47-50 STS ROCK         BDFM  2016-01-02          372156
453  METROPOLITAN AV            M  2016-01-02           26662
454      BURNSIDE AV            4  2016-01-02           65506
455            23 ST           FM  2016-01-02          159673
456      BEACH 25 ST            A  2016-01-02           11569
457      GUN HILL RD           25  2016-01-02           46793
458     JEFFERSON ST            L  2016-01-02           45721
459      3 AV 138 ST            6  2016-01-02           47799
460             1 AV            L  2016-01-02          145923
461         BROOK AV            6  2016-01-02           38490
462           145 ST            1  2016-01-02           61636
463  LEXINGTON AV/53          EM6  2016-01-02          254887
464    BEVERLEY ROAD           BQ  2016-01-02           18761
465           190 ST            A  2016-01-02           27926
466            39 AV           NQ  2016-01-02           17039
467       ST. GEORGE            1  2016-01-02           80706
468  163 ST-AMSTERDM            C  2016-01-02           27187
469       PARK PLACE        23ACE  2016-01-02           20733

[470 rows x 4 columns]

In [70]:
weekly_totals_df.to_csv('weeklytotals20160102.csv')